
<div class="content" role="main">

    <span>{{ title }}</span>

  </div>

  <!-- reminder that each app-dash thing is a component added wherever I place it. -->
  <app-nav></app-nav>
  <!-- <app-home></app-home> --> <!--deleted lesson 64 because we are adding routing.-->
  <!-- <app-value></app-value> --> <!--deleted because logic moved to another component-->

  <router-outlet></router-outlet> <!--added in lesson 64 about routing.-->
  <!--What it does: When using routing, whatever is selected in the router will display here.-->

